.arrow {
    width: 120px;
    height: 100px;

    position: relative;
    animation: arrow_move 2s ease-in-out infinite;
}

.underline{
    position: relative;
}

.underline::before{
    content: '';
    display: block;
    width: 120%;
    height: 1px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%) scaleX(0);
    position: absolute;
    left: -10%;
    transition: 0.3s ease-in-out;
    opacity: 0;

}

.underline:hover::before{
    transform: translateY(-50%) scaleX(1);
    opacity: 90;
}




.arrow::before,
.arrow::after {
    display: block;
    content: '';
    width: 53.6%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;

}

@keyframes arrow_move {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.arrow::before {
    left: 0%;
    transform: rotate(30deg);
}

.arrow::after {
    right: 0;
    transform: rotate(-30deg);
}


.arrow__con{
    position: absolute;
    width: 20px;
    margin: 0 auto;
    display: flex;
    bottom: 10%;
    left:0;
    right: 0;
    justify-content: center;
    align-items: center;
}